@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

$font-color: #a4a4a4;

#header {
  @include flex();
  @include position($top: 0);
  position: relative;
  width: 100%;

  .container {
    list-style-type: none;
    display: flex;
  }

  .cloud {
    @include flex();
    position: absolute;
    text-decoration: none;
    color: $font-color;
    font-weight: bold;
    font-family: $font-family;
    text-align: center;
    @include size(250px, 150px);
  }

  .nav-item-1 {
    @include position($top: 350%, $left: 10%);
    @include cloud("normal")
  }

  .nav-item-2 {
    @include position($top: 200%, $left: 30%);
    @include cloud("triangular");
  }

  .nav-item-3 {
    @include position($top: 150%, $left: 50%);
    @include cloud("normal")
  }
  .nav-item-4 {
    @include position($top: 350%, $left: 70%);
    @include cloud("triangular")
  }

  ::selection {
    color: inherit;
    background: transparent;
  }
}
