@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

:host {
  @include position(relative, 3);
  @include flex($justify: flex-start, $direction: column);
  width: 100%;
  height: 100%;
}

#h1, .cdk-visually-hidden {
  font-size: 0;
}

#banner {
  @include position(relative, 3);
  width: min(100% - 3rem, 850px);
  height: auto;
  margin-top: 7%;
}

#search-bar {
  @include flex();
  @include border(3px, solid, $primary, 20rem);
  width: min(100% - 3rem, 1200px);
  height: 80px;
  background: rgb(9 10 11 / 0.76);
  transition: background 0.3s;

  &.active {
    border-radius: 50px 50px 0 0;
  }

  &:hover {
    background: rgb(9 10 11);
  }

  &:has(#search-input:focus) {
    background: rgb(7 6 6);
  }

  &.active #search-button {
    border-radius: 0 2.85rem 0 0;
  }

  #search-svg {
    @include svg($icon-size, $primary);
    padding: 20px;
  }

  #search-input {
    @include font($font-family: $f-family-screen, $font-size: 1.8rem, $fluid: true);
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 5px;
    background: none;
    border: none;
    outline: none;

    &::placeholder {
      @include font($font-size: 1.8rem, $fluid: true);
    }

    &[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  #search-button {
    @include flex($gap: 10px);
    @include font($font-size: 1.3rem, $font-color: $primary, $fluid: true, $weight: bold);
    @include border(none, $radius: 0 20rem 20rem 0);
    width: 15%;
    height: 100%;
    margin: 0;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0;
    min-width: 150px;

    &:hover {
      background: $primary;
      color: $secondary;
    }

    &:hover #search-button-svg {
      fill: $secondary;
    }

    #search-button-svg {
      @include svg($icon-size, $primary);
      transition: all 0.3s;
    }
  }
}

#footer {
  @include position(absolute, 3, $bottom: 10px);
  @include flex();
  width: 100%;

  .footer-list {
    @include flex($gap: 10px);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .link {
    @include font($font-family: $f-family-screen, $font-size: 1.2rem, $font-color: rgb(255 255 255 / 0.71), $fluid: true);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .separator {
    @include font($font-size: 1.7rem, $font-color: rgb(255 255 255 / 0.71), $fluid: true);
  }
}
