@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

:host {
  @include border(0 3px 3px 3px, solid, $primary, 0 0 50px 50px);
  @include flex(flex-start, flex-start);
  background: #0a0a0a;
  color: #262626;
  width: min(100% - 3rem, 1200px);
  visibility: hidden;
  overflow: hidden;
}

:host.active {
  visibility: visible;
}

#airports-list {
  @include flex(flex-start, flex-start, column);
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  scrollbar-color: $primary transparent;
  scrollbar-width: thin;

  .airport {
    @include flex($justify: flex-start, $gap: 10px);
    @include font($font-color: $f-color, $font-size: 1.2rem, $weight: bold);
    width: 100%;
    padding: 5px;

    &:nth-child(odd) {
      background: #131313;
    }

    &:hover {
      background: $primary;
      color: $secondary;
    }

    .airport-code {
      flex: 0.3;
      margin-left: 20px;
    }

    .airport-name {
      flex: 4;
    }

    &:hover .airport-download {
      background: $secondary;
      color: $primary;

      .download-svg {
        fill: $primary;
      }
    }

    .airport-download {
      @include flex($justify: flex-start, $gap: 5px);
      @include font($weight: bold);
      @include border(none, $radius: 5px);
      cursor: pointer;
      background: rgb(3 3 3 / 0.5);
      padding: 5px 10px;
      margin-right: 40px;
      color: $f-color;

      &:hover {
        background: #181818;
      }

      &:active {
        background: #262626;
      }

      .download-svg {
        @include svg($color: $f-color);
      }
    }
  }
}

@media(max-width: 560px) {
  #airports-list {
    .airport {
      flex-direction: column;

      .airport-download, .airport-code {
        margin: 0;
      }
    }
  }
}
