@use "../styles/mixins" as *;
@use "../styles/variables" as *;

body {
  @include flex();
  @include background($type: "open-fids-background");
  @include position(relative, 1);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  min-height: 900px;

  &::before {
    @include position(absolute, 2, 0);
    background: rgb(0 0 0 / 0.77);
    content: "";
    width: 100%;
    height: 100%;
  }

  &::selection {
    background: $primary;
    color: $secondary;
  }
}
