@use "../styles/variables" as *;
@use "../styles/mixins" as *;

body {
  @include spacing();
  background: $night-bg;
  height: 100vh;
  overflow: hidden;

  &.day {
    background-color: $day-bg;
  }

  &.night {
    background-color: $night-bg;
  }
}
