@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin spacing($padding: 0, $margin: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin background($type, $position: center / cover no-repeat) {
  background: url("/backgrounds/#{$type}.webp") $position;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $zIndex) {
  position: $position;
  @if $top != null {top: $top;}
  @if $right != null {right: $right;}
  @if $bottom != null {bottom: $bottom;}
  @if $left != null {left: $left;}
  z-index: $zIndex;
}
