@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin spacing($padding: 0, $margin: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin cloud($type, $position: center / contain no-repeat) {
  background: url("/clouds/#{$type}-cloud.webp") $position;
}

@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  @if $top != null {top: $top;}
  @if $right != null {right: $right;}
  @if $bottom != null {bottom: $bottom;}
  @if $left != null {left: $left;}
}
