$f-family-text: "Google Sans", "Google Sans Flex", "Open Sans", system-ui;
$f-family-screen: "Roboto Condensed", "Fjalla One", "Open Sans", system-ui;
$f-color: #fffdea;
$primary: #ffd618;
$secondary: #090a0b;
$icon-size: 30px;
