@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

:host {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  * {
    user-select: none;
  }
}

#fids {
  @include position(relative, 4);
  @include grid($rows: auto 1fr auto, $align: initial);
  width: 100%;
  height: 100%;
  background: #131313;

  #fids-header {
    @include flex(center, space-between);
    min-height: 80px;
    padding: 0 30px;
    background: #0a0a0a;

    .airport {
      @include flex(center, flex-start, $gap: 20px);
      width: 100%;
    }

    .airport-icon {
      @include svg(30px, #101010);
      padding: 10px;
      border-radius: 10px;
      background: $primary;
    }

    .airport-title, .time {
      @include font($f-family-screen, 3.3rem, $primary, $weight: 500);
      cursor: pointer;
    }

    .real-time {
      width: 100%;
      text-align: right;
    }

    .airport-icon-wrapper {
      cursor: pointer;
    }

    .upload-logo {
      display: none;
    }

    .airport-personalized {
      width: auto;
      height: 80px;
    }
  }

  #flight-list {
    overflow: hidden;

    .title-bar {
      @include grid(150px 280px 1fr 250px 200px 100px);
      @include font($f-family-screen, 2rem, $primary, $weight: 500);
      padding: 0 30px;
      text-transform: uppercase;
      background: #0a0a0a;
    }

    .flight {
      @include grid(150px 70px 210px 100px 1fr 250px 200px 100px);
      @include font($f-family-screen, 2.2rem, $weight: 400);
      padding: 0 30px;
      box-sizing: border-box;

      &:nth-child(odd) {
        background: #0a0a0a;
      }

      .airline-logo {
        @include svg(50px);
        padding: 5px;
      }

      .delayed {
        color: #ff5656;
      }

      .boarding {
        color: #80ff80;
      }
    }

    .empty {
      @include flex($gap: 20px);
      @include font($f-family-screen, 3rem, $weight: 400);
      height: 100%;
      background: #0a0a0a;
      margin-top: -35px;

      .empty-icon {
        @include svg(50px)
      }
    }
  }
}
